* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Tahoma, sans-serif;
}

body {
  background: #5c4081 url(asset/images/bg.jpg) no-repeat center top;
}

a {
  text-decoration: none;
}