<div class="answer">
  <ol class="answer-list">
    <li>
    	<span>Z</span>
    	<button class="btn btn-delete"><i class="icon icon-delete"></i></button>
    </li>
    <li class="auto-filled">
    	<span>Z</span>
    	<button class="btn btn-delete"><i class="icon icon-delete"></i></button>
    </li>
    <li class="wrong-filled">
    	<span>Z</span>
    	<button class="btn btn-delete"><i class="icon icon-delete"></i></button>
    </li>
    <li class="last">
    	<span>Z</span><button class="btn btn-delete"><i class="icon icon-delete"></i></button>
    </li>
    <li><button class="btn btn-delete">x</button></li>
  </ol>

  <button class="btn btn-reset" title="reset"><i class="icon icon-reset"></i></button>
</div>
