<!DOCTYPE html>
<html lang="">
<head>

  <title><%= webpackConfig.metadata.title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="<%= webpackConfig.metadata.title %>">
  <!-- CSS -->
  <link rel="stylesheet" href="./assets/css/styles.css">
  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">
</head>
<body>

  <app></app>

  <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->

  <% if (webpackConfig.metadata.ENV === 'development') { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

</body>
</html>
