<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <!-- Mobile metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Title and description -->
  <title>Words Quiz</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- for Facebook metas -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:type" content="">

  <!-- for Twitter metas -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!--Favicons -->
  <link href="favicon.png" rel="apple-touch-icon">
  <link href="favicon.ico" rel="icon">

  <!-- CSS -->
  <link href="../../../styles.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
  <div id="main" class="main-container">
    <section class="finish">
      <h1 class="finish-title">Awesome!</h1>

      <p class="finish-subcopy">
        You did a <strong>Good Job!</strong><br>
        Thank you for playing our game.
      </p>

      <div class="btn-wrap">
        <a href="index.html" class="btn btn-primary">RESTART</a>
      </div>
    </section>

    <footer class="footer">Copyright 2016 pjt101. All rights reserved.</footer>
  </div> <!-- // #main -->
</body>
</html>