<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- Mobile metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Title and description -->
  <title>Words Quiz</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- for Facebook metas -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:type" content="">
  <!-- for Twitter metas -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  <!--Favicons -->
  <link href="favicon.png" rel="apple-touch-icon">
  <link href="favicon.ico" rel="icon">
  <!-- CSS -->
  <link href="../../../styles.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
<div id="main" class="main-container">
  <section class="quiz">
    <div class="step">
      <span>STEP</span>
      <span class="step-current">1</span><span class="step-bar">/</span><span class="step-total">10</span>
    </div>
    
    <div class="thumb">
      <div class="thumb-wrap">
        <img src="../../images/sheep.png" alt="">
      </div>
    </div>

    <div class="answer">
      <ol class="answer-list">
        <li>
          <span>Z</span>
          <button class="btn btn-delete"><i class="icon icon-delete"></i></button>
        </li>
        <li class="auto-filled">
          <span>Z</span>
          <button class="btn btn-delete"><i class="icon icon-delete"></i></button>
        </li>
        <li class="wrong-filled">
          <span>Z</span>
          <button class="btn btn-delete"><i class="icon icon-delete"></i></button>
        </li>
        <li class="last">
          <span>Z</span>
          <button class="btn btn-delete"><i class="icon icon-delete"></i></button>
        </li>
        <li>
          <span>Z</span>
          <button class="btn btn-delete"><i class="icon icon-delete"></i></button>
        </li>       
        <li>
          <button class="btn btn-delete"><i class="icon icon-delete"></i></button>
        </li>
      </ol>

      <button class="btn btn-reset" title="reset"><i class="icon icon-reset"></i></button>
    </div>

    <div class="words">
      <ul class="words-list">
        <li><button class="btn btn-word">Z</button></li>
        <li></li>
        <li><button class="btn btn-word">Z</button></li>
        <li><button class="btn btn-word">Z</button></li>
        <li></li>
      </ul>
    </div>

    <div class="btn-wrap">
      <button class="btn btn-jocker">
        <i class="icon icon-jocker"></i>
        <span>JOCKER</span>
      </button>
    </div>
  </section>

  <section class="push">
    <div class="push-wrap">
      <div class="push-circle">
        <div class="rw-table">
          <div class="rw-cell">GOOD</div>
        </div>
      </div>
    </div>    
  </section>

  <footer class="footer">Copyright 2016 pjt101. All rights reserved.</footer>
</div>
<!-- // #main -->
</body>
</html>